#title {
border: none;
border-color: transparent;
width: 80%;
font-size:36px;
font-weight: bold;
font-style: italic;}

.container {
    width: 80%;
    height: 200px;
    margin: auto;
    padding: 10px;
}
.left {
    width: 40%;
    float: left;
    height: 400px;
}
.right {
	float:right;
	height: 400px;
    /*margin-left: 1%;*/
}