body{
	
}

#container {
	background-image: url('../imgs/background.svg');
	background-repeat: no-repeat;
	background-size: 1024px 768px;
	width: 1024px;

}

#toolbar {
	display:table;
	font-family: 'Roboto', sans serif;
	color:#222;
	width:470px;
}

.fa {
	margin: 2px;
}

.toolbarLine{
	display:table-row;
	border-color:darkgray;
	border-width:2;
}
.btn {
	float:left;
	background-color:transparent;
	cursor: pointer;
	margin: 5px 5px 5px 5px;
}
.btn img{
	width: 40px;
	height: 40px;
}
#title {
	border: none;
	border-color: transparent;
	background-color:transparent;
	width: 80%;
	font-size:36px;
	font-weight: bold;
	font-style: italic;
    text-align:center;}

#chart-container {
	background-color: transparent;
	border-color : black;
	border-width : 2px;
	margin-top : 50px;
}