html { 
  background: url('../imgs/background.svg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#container {
  display: table; 
  width: 950px; 
  margin: 0 auto; 
}

.tableRow {
  display: table-row;}

.leftCell {
  display: table-cell; 
  width: 85px;}

.rightCell {
  display: table-cell; 
  width: 85px;}

.mainCell {
  display: table-cell; 
  width: 652px;
  text-align:center;}

#toolbar{
  width: 550px; 
  margin: 0 auto;}

.btn {
  float: left;
  margin: 5px;
  padding: 0px;
  cursor: pointer;}

.btn img{
  width: 40px;
  height: 40px;}

.btn2 img{
  width: 40px;
  height: 40px;
   margin-left: 10px;
  cursor: pointer;}

#title {
  border: none;
  border-color: black;
  background-color: transparent;
  width: 100%;
  font-size: 36px;
  font-weight: bold;
  font-style: italic;
  text-align: center;}

#jexcelCont{
  width: 460px;
  margin: 0 auto;
  margin-bottom: 50px;
}

#chart-container{
  background-color: white;
  width: 460px;
  margin: 0 auto;
  margin-bottom: 50px;
}

#printArea{
  display: none;
}